__pycache__/
*.pyc
*.so
*.swp
build/
HybridPose/data/linemod
HybridPose/data/occlusion_linemod
HybridPose/data/blender_linemod
HybridPose/data/fuse_linemod
HybridPose/data/temp
HybridPose/lib/regressor/eigen
saved_weights
output
logs/
*.sh
venv
*saved_weights
*output
*.png
